body{font:12px/1.25 arail;background-color:#fff;line-height:1.25;}
.jssc .num{color:#088;}
.jssc .keyword{color:#33f;}
.jssc .comment{color:#393;}
.jssc .string{color:#a33;}
.jssc .reg, .annot, .head{color:#999;}
.jssc .val, .attr{color:#909;}
.jssc .cdata{color:#c96;}
.jssc .namespace{color:#f00;}
.jssc .java .keyword{color:#909;}

.jssc{position:relative;}
.jssc p{margin:10px 0;color:#79a;text-indent:2em;font-weight:700;font-family:"Verdana","\5b8b\4f53";}
.jssc .error{color:#f33;}
.jssc .copy{display:block;position:absolute;top:0;right:40px;cursor:pointer;color:#39f;}
.jssc .copy object{display:block;width:40px;height:16px;}
.jssc .about{display:block;position:absolute;top:2px;right:0;cursor:pointer;color:#f33;}
.jssc ol{margin:0;padding:0;overflow:auto;border:1px solid #ccc;background-color:#eee;font-family:momospace,"\5b8b\4f53","Courier New";font-size:13px;clear:both;}
.jssc ol li{margin:0;padding-left:10px;border-left:1px solid #abc;background-color:#fff;color:#333;}
.jssc ol li.actived{background-color:#ff9;}
.jssc ol li .error{background-color:#f33;}
.jssc ol .fold{background:#eee;}
.jssc ol .fold:after{content:"...";}
.jssc ol .hide{position:absolute;visibility:hidden;}